body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* 保持字体样式以提高可读性 */
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.sidebar {
    width: 200px; /* 侧边栏宽度保持不变 */
    background-color: #000; /* 背景颜色为黑色 */
    color: #fff; /* 文字颜色为白色 */
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #D10000; /* 悬停和活动状态的背景色为红色 */
}

.main-content {
    margin-left: 200px; /* 主内容区的左边距 */
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

/* 响应式设计调整 */
@media (max-width: 768px) {
    .sidebar {
        position: fixed; /* 保持导航栏固定在顶部 */
        top: 0; /* 定位到视口顶部 */
        left: 0; /* 定位到视口左侧 */
        height: auto; /* 高度自适应 */
        z-index: 1000; /* 确保导航栏位于其他内容上方 */
    }

    .sidebar ul {
        display: flex; /* 启用 flex 布局 */
        flex-direction: row; /* 项目横向排列 */
        justify-content: space-around; /* 项目间均等分布 */
        align-items: center; /* 项目在交叉轴上居中对齐 */
        flex-wrap: nowrap; /* 不允许换行，确保所有导航项都在一行内 */
        padding: 10px 0; /* 添加一些上下内边距 */
        margin: 0; /* 移除默认的外边距 */
    }

    .sidebar ul li {
        flex: 1; /* 每个导航项都有相等的空间 */
    }

    .sidebar ul li a {
        padding: 10px; /* 调整链接的内边距 */
        white-space: nowrap; /* 防止文字换行 */
    }

    .main-content {
        margin-top: 60px; /* 根据导航栏的实际高度调整 */
        margin-left: 0; /* 移除左边距 */
    }
}
