body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* 保持字体样式以提高可读性 */
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.sidebar {
    width: 200px; /* 侧边栏宽度保持不变 */
    background-color: #000; /* 背景颜色为黑色 */
    color: #fff; /* 文字颜色为白色 */
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #D10000; /* 悬停和活动状态的背景色为红色 */
}

.main-content {
    margin-left: 200px; /* 主内容区的左边距 */
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

/* 响应式设计，使侧边栏在小屏幕上自适应为顶部导航栏并横向排列 */
/* 其他样式保持不变 */

/* 响应式设计调整 */
@media (max-width: 768px) {
    .sidebar {
        position: fixed; /* 在手机视图下将顶部导航栏固定 */
        top: 0; /* 确保导航栏始终位于视口顶部 */
        left: 0; /* 确保导航栏从视口左侧开始 */
        width: 100%; /* 导航栏宽度充满整个视口宽度 */
        height: auto; /* 高度自适应 */
        z-index: 1000; /* 确保导航栏位于页面其他内容之上 */
    }

    .sidebar ul {
        display: flex;
        flex-direction: row; /* 保持导航项横向排列 */
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0; /* 移除默认的外边距 */
    }

    .sidebar ul li {
        display: inline-block;
    }

    .sidebar ul li a {
        padding: 10px 15px; /* 调整链接的内边距以适应触摸操作 */
    }

    .main-content {
        padding-top: 60px; /* 为了避免内容被固定的导航栏遮挡，添加足够的上边距 */
        margin-left: 0; /* 移除主内容区的左边距 */
    }
}
